# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so


# Archivos raros
*~

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
media/images/
media/files/
administration/migrations/
static_root/img/
*.egg-info/
.installed.cfg
*.egg
*.json


# Django stuff:
*.log
*.pot
*.pyc



#Others files
env
staticfiles
.env
db.sqlite3
*.sqlite3

