<html lang='es'>

<head>
	<meta charset="UTF-8">
	<title>Segundo concurso fotográfico</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">

	<script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

	<script src="/static/js/jquery-1.10.2.min.js"></script>
  	<script src="/static/js/bootstrap.min.js"></script>

	<style type="text/css">
		.imagen-concurso {
			max-width: 	700px; 
			max-height: 500px; 

			height: auto;
		}
		.navbar-inverse {
		    background-color: #000;
		}
		.navbar {
 		   border-radius: 0px;
 		}
 		.pager {
		    margin: 0px 0;
    	}
    	.pagination {
		    margin: 0px 0;
		}


	</style>
	{% block css%}

	{% endblock %}
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'participantes' 1 %}">
      	<img src="{{STATIC_URL}}images/logo-concurso.jpg" class="img-responsive">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	    <ul class="nav navbar-nav">
	        <li class="active">
	        	<a href="{% url 'participantes' 1 %}">Inicio</a>
	        </li>
	        <li>
	        	<a href="{% url 'criterios' %}">Instrucciones</span></a>
	        </li>

	    </ul>

		<p class="navbar-text navbar-right">
			Bienvenido <strong>{{user.first_name|capfirst}} {{user.last_name|capfirst}}</strong> 
			<i class="fa fa-user"></i>
			<a href="{% url 'logout' %}" class="navbar-link">(Salir)</a>
        </p>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{% block container %}
			
{% endblock %}

<div class="footer">
<hr>
	<div class="col-md-3 ">
		<a href="http://ingenieria.uchile.cl"><img src="{{STATIC_URL}}images/FCFM-blanco.png" class="img-responsive"></a>
	</div>
	<div class="col-md-2 col-md-offset-7 block-center text-center">
		Desarrollado por<br/>
		<a href="http://www.afachile.cl"><img src="{{STATIC_URL}}images/AfaChile.png" class="img-responsive"></a>
	</div>
</div>

{% block modal %}
			
{% endblock %}
