{% extends "base.html" %}

{% block css%}
<style type="text/css">

	.box-vote {
	    padding-bottom: 20px;
	    padding-top: 20px;
	}

	.option {
    	margin-top: -35px;
	}

	.no-padding {
	  margin-left: 0 !important;
	  margin-right: 0 !important;
	  
	  padding-left: 0px !important;
	  padding-right: 0px !important;
	  
	}

	.panel-danger>.panel-heading {
	    color: 				#FFFFFF;
	    background-color: 	#d9534f;
	    border-color: 		#d9534f; 
	    font-weight: 900;
	    text-transform: uppercase;
	}


	.panel-body {
    	padding: 0px !important;
	}

	.name-photo {
	    font-weight: 900;
	    text-transform: uppercase;

	    background-color: #0059A3;
	    color: white;

	    border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border: 0px solid #000000;
	}
	
	.name-person {
	    font-style: italic;
	}
	.name-rut {
	    font-size: smaller;
	}
</style>
{% endblock %}


{% block container %}

<div class="container">
	<div class="col-md-12 text-center">
		<h1>Segunda etapa de evaluación</h1>	
	</div>

	{% if puedevotar %}

		<div class="col-md-10">
			<p>A cada fotografía se debe asignar un valor de 1, 2 o 3, según considere el puesto que debe ocupar en el concurso: 1 para el primer lugar, 2 para el segundo lugar o 3 para el tercer lugar.  Las 15 fotografías deben ser evaluadas según este criterio.</p>
			
			<p>Las imágenes ganadoras serán las que obtengan los tres menores puntajes.</p>
			<div class="panel panel-primary text-center">
				<div class="panel-heading">Fotografías clasificadas</div>
				<div class="panel-body">

					<div class="col-md-12 no-padding">

					{% for finalista in finalistas %}
						
							{% if forloop.counter0|divisibleby:3 %}
								</div>
								<div class="col-md-12 no-padding">
							{% endif %}

							<div class="col-md-4 text-center box-vote">
								<a href="" data-toggle="modal" data-target="#modalPhoto"
								class="photo-finalist"
								data-id="{{STATIC_URL}}img/concurso_ID_{{finalista.participante.participante}}_{{finalista.identificador}}_min.jpg"
								>


								<img class="img-responsive" src="{{STATIC_URL}}img/concurso_ID_{{finalista.participante.participante}}_{{finalista.identificador}}_min.jpg" 
								>
								</a>
								
								<div class="option" id="option-{{finalista.id}}">
									<button type="button" 
										class="btn btn-default btnPhoto"
										competitor="{{finalista.participante.participante}}" 
									  	id="{{finalista.id}}" 
									  	idphoto="{{finalista.identificador}}"
									  	value="1">
									  	1°
									</button>
									<button type="button" 
										class="btn btn-default btnPhoto"
										competitor="{{finalista.participante.participante}}" 
									  	id="{{finalista.id}}" 
									  	idphoto="{{finalista.identificador}}"
									  	value="2">
									  	2°
									</button>
									<button type="button" 
										class="btn btn-default btnPhoto"
										competitor="{{finalista.participante.participante}}" 
									  	id="{{finalista.id}}" 
									  	idphoto="{{finalista.identificador}}"
									  	value="3">
									  	3°
									</button>
								</div>
								<div class="option-label" id="option-label-{{finalista.id}}">									
								</div>

							</div>
					{% endfor %}		
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2">
			<div class="col-md-12 text-center">
			<p>Cuando ya tengas las 15 fotos seleccionadas, recién podrás enviar tu votación</p>
				<button type="button" class="btn btn-default clear">Limpiar votación</button>
				<button type="button" class="btn btn-success send" >Enviar</button>
				<div id="msg-send"></div>
			</div>
		</div>
	{% else %}

	<div class="col-md-12 text-center">
		<h4>Usted ya indicó cuales deberían ser las fotografías ganadoras del 2° concurso fotográfico.</h4>
	</div>
	{% endif %}

</div>


<!-- Modal -->
<div class="modal fade" id="modalPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="img"></div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
var list = [];


var init = function(){

	for (var i = 0; i < list.length; i++) {
		$("#option-label-"+list[i]['photo']).empty();
		$("#option-"+list[i]['photo']).show();
	};

	list = [];

	$('.send').prop('disabled', true);	
};



var sendVoteAjax = function (callback){

	if(list.length == 0){
		$.bootstrapGrowl("Votacion realizada con éxito", {
	        type: 'success',
	        allow_dismiss: false,
	        offset: {
	            from: 'bottom',
	            amount: 20
	        },
	        position: {
            	from: "bottom",
            	align: "right"
        	},
	        width: 250,
	        delay: 2000,
	        allow_dismiss: true, // add a close button to the message
	        stackup_spacing: 10
	    });
		$('.send').prop('disabled', true);	

		return callback();
	}
	else{

		vote = list.pop();
		console.log(vote);

		var url = '{% url "apiVoteFinal" 999 998 %}';
		url 	= url.replace(999, vote['photo']);
		url 	= url.replace(998, vote['value']);

		$.ajax({
		  type	: "GET",
		  url 	: url,
		  success:function(data){
		  		data = data[0];		
		  }
		});
		return sendVoteAjax(callback);
	}
}

$(".btnPhoto").click(function(event){

	if(list.length == 0){
		$('.send').prop('disabled', true);	
	}

	if(list.length < 15){

		var idphoto 	= $(this).attr("idphoto"); 
		var competitor 	= $(this).attr("competitor"); 
		var value 		= $(this).attr("value"); 

		list.push({
			"photo": event.target.id,
			"value": value
			});

		if(list.length >= 13){
			$('.send').prop('disabled', false);
		}

		$("#option-"+event.target.id).hide();
		$("#option-label-"+event.target.id).empty();

		if(value == 3){
			$("#option-label-"+event.target.id).append(
			'<h3><span class="label label-success">Seleccionado como 3° lugar</span></h3>'
			);			
		}else if(value==2){
			$("#option-label-"+event.target.id).append(
			'<h3><span class="label label-warning">Seleccionado como 2° lugar</span></h3>'
			);
		} else if(value==1){
					$("#option-label-"+event.target.id).append(
			'<h3><span class="label label-danger">Seleccionado como 1° lugar</span></h3>'
			);
		}
	}
});


$(".clear").click(init);
$(".send").click(function (){
	sendVoteAjax(function (){
		console.log("callback");
		$('.send').prop('disabled', true);
		$('.clear').prop('disabled', true);
		$("#msg-send").append('<h3><span class="label label-success">Ya has votado</span></h3>');	
	});
});




$(".photo-finalist").click(function(){
     var img = $(this).data('id');
     $(".modal-body #img").empty();
     $(".modal-body #img").append('<img src="'+img+'" class="img-responsive">');
});

$(document).on("click", ".open-AddBookDialog", function () {
});


init();

</script>

{% endblock %}
