{% extends "base.html" %}

{% block css%}
<style type="text/css">
	a.guardar {
	    background-color: #eea236 !important;
	    color: #fff !important;
}

</style>
{% endblock %}


{% block container %}
<div class="container-fluid">

	<div class="col-md-12">

	{% for foto in fotos %}

	<div class="col-md-7">
		<div class="col-md-12">
			<h4>Participante #{{foto.participante.participante}} Foto {{foto.identificador |add:"1"}} de {{foto.participante.n_fotos}}</h4>
		</div>
		<div class="col-md-12 block-center">
			<img class="img-responsive" src="{{STATIC_URL}}img/concurso_ID_{{foto.participante.participante}}_{{foto.identificador}}_min.jpg" >			
		</div>
		<div class="col-md-12 text-center">
		<p></p>
			<a type="button" class="btn btn-default" target="_blank"
				href="{{STATIC_URL}}img/concurso_ID_{{foto.participante.participante}}_{{foto.identificador}}.jpg">Foto original
			</a>
		</div>
	</div>

	<div class="col-md-5">
		<div class="col-md-12">
			<h3>{{ foto.nombre }}</h3>
		</div>		
		
		<div class="col-md-9">
			{{foto.lugar}}
		</div>
		<div class="col-md-3">
			{{foto.fecha}}
		</div>

		<div class="col-md-12">
			<hr>
			<h5><strong>Criterios de evaluación</strong></h5>
			<small><p>La evaluación se debe realizar en escala de 1 al 7, donde 1 es la peor y 7 la mejor</p></small>
			<br/>

 			<form class="form-signin" role="form" id="login_form" method="POST" 
 			action="{% url 'fotografias' foto.participante.participante foto.identificador %}">
          	
          		{% csrf_token %}
          		<div class="col-md-8">
          			
				<div>				
					<div class="col-md-6">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#originalidad">
					  	Originalidad
						</button>
					</div>
				
					<div class="col-md-6">
						
						<select class="form-control" name="option-originalidad" id="option-originalidad">
						<option value="1" 						
						  	{% if voto.criterio_1 == "1" %}
							selected="selected"
							{% endif %}>1</option>
						<option value="2" 						
						  	{% if voto.criterio_1 == "2" %}
							selected="selected"
							{% endif %}>2</option>
						<option value="3" 						
						  	{% if voto.criterio_1 == "3" %}
							selected="selected"
							{% endif %}>3</option>
						<option value="4" 						
						  	{% if voto.criterio_1 == "4" %}
							selected="selected"
							{% endif %}>4</option>
						<option value="5" 						
						  	{% if voto.criterio_1 == "5" %}
							selected="selected"
							{% endif %}>5</option>
						<option value="6" 						
						  	{% if voto.criterio_1 == "6" %}
							selected="selected"
							{% endif %}>6</option>
						<option value="7" 						
						  	{% if voto.criterio_1 == "7" %}
							selected="selected"
							{% endif %}>7</option>
						</select>
					</div>				
				</div>

				<div>				
					<div class="col-md-6">

						<button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#composicion">
					  	Composición
						</button>
					</div>
					<div class="col-md-6">
						<select class="form-control" name="option-composicion" id="option-composicion">
						<option value="1" 						
						  	{% if voto.criterio_2 == "1" %}
							selected="selected"
							{% endif %}>1</option>
						<option value="2" 						
						  	{% if voto.criterio_2 == "2" %}
							selected="selected"
							{% endif %}>2</option>
						<option value="3" 						
						  	{% if voto.criterio_2 == "3" %}
							selected="selected"
							{% endif %}>3</option>
						<option value="4" 						
						  	{% if voto.criterio_2 == "4" %}
							selected="selected"
							{% endif %}>4</option>
						<option value="5" 						
						  	{% if voto.criterio_2 == "5" %}
							selected="selected"
							{% endif %}>5</option>
						<option value="6" 						
						  	{% if voto.criterio_2 == "6" %}
							selected="selected"
							{% endif %}>6</option>
						<option value="7" 						
						  	{% if voto.criterio_2 == "7" %}
							selected="selected"
							{% endif %}>7</option>
						</select>
					</div>			
				</div>
				
				<div>				
					<div class="col-md-6">

						<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#tecnica">
						Técnica
						</button>
					</div>
					<div class="col-md-6" >
						<select class="form-control" name="option-tecnica" id="option-tecnica">
						<option value="1" 						
						  	{% if voto.criterio_3 == "1" %}
							selected="selected"
							{% endif %}>1</option>
						<option value="2" 						
						  	{% if voto.criterio_3 == "2" %}
							selected="selected"
							{% endif %}>2</option>
						<option value="3" 						
						  	{% if voto.criterio_3 == "3" %}
							selected="selected"
							{% endif %}>3</option>
						<option value="4" 						
						  	{% if voto.criterio_3 == "4" %}
							selected="selected"
							{% endif %}>4</option>
						<option value="5" 						
						  	{% if voto.criterio_3 == "5" %}
							selected="selected"
							{% endif %}>5</option>
						<option value="6" 						
						  	{% if voto.criterio_3 == "6" %}
							selected="selected"
							{% endif %}>6</option>
						<option value="7" 						
						  	{% if voto.criterio_3 == "7" %}
							selected="selected"
							{% endif %}>7</option>
						</select>
					</div>
				</div>

				<div>
					<div class="col-md-6">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mensaje">
						  Mensaje
						</button>
					</div>

					<div class="col-md-6">
						<select class="form-control" name="option-mensaje" id="option-mensaje">
						<option value="1" 						
						  	{% if voto.criterio_4 == "1" %}
							selected="selected"
							{% endif %}>1</option>
						<option value="2" 						
						  	{% if voto.criterio_4 == "2" %}
							selected="selected"
							{% endif %}>2</option>
						<option value="3" 						
						  	{% if voto.criterio_4 == "3" %}
							selected="selected"
							{% endif %}>3</option>
						<option value="4" 						
						  	{% if voto.criterio_4 == "4" %}
							selected="selected"
							{% endif %}>4</option>
						<option value="5" 						
						  	{% if voto.criterio_4 == "5" %}
							selected="selected"
							{% endif %}>5</option>
						<option value="6" 						
						  	{% if voto.criterio_4 == "6" %}
							selected="selected"
							{% endif %}>6</option>
						<option value="7" 						
						  	{% if voto.criterio_4 == "7" %}
							selected="selected"
							{% endif %}>7</option>
						</select>
					</div>
					<br/>
				</div>
				</div>
					<div class="col-md-4 text-center">
						<div class="panel panel-default">
						  <div class="panel-heading">Promedio</div>
						  <div class="panel-body">
						    <h1> <div id="promedio">-</div></h1>
						  </div>
					</div>				
				</div>

				<div class="col-md-12">
					<div class="col-md-2">
						
					</div>
					<div class="col-md-8 text-center">
						{% if msg %}
							<div class="alert alert-success" role="alert">{{msg}}</div>
						{% endif %}
					</div>
				</div>

				<div class="col-md-12 text-center">

					<div class="col-md-4">
						<ul class="pager">
					    	<li class="previous">
					    		<a href="{% url 'fotografias' atrasFoto.participante.participante atrasFoto.identificador %}"><span aria-hidden="true">&larr;</span> Atrás</a>
					    	</li>
					  	</ul>
					</div>

					<div class="col-md-4 text-center">
						<ul  class="pagination">
							<li>
								<button type="submit" class="btn btn-warning">Guardar</button>
							</li>
						</ul>
					</div>

					<div class="col-md-4">
						<ul class="pager">
					    	<li class="next">
					    		<a href="{% url 'fotografias' siguienteFoto.participante.participante siguienteFoto.identificador %}">Siguiente <span aria-hidden="true">&rarr;</span></a>
					    	</li>
					  	</ul>
					</div>


					
				</div>

			</form>


		</div>		
	</div>
	{% endfor %}
</div>
</div>



<script type="text/javascript">

/* Cálculo del promedio de la evaluación */
function promedio(){
	var originalidad 	= parseInt($('#option-originalidad').val());
	var composicion 	= parseInt($('#option-composicion').val());
	var tecnica 		= parseInt($('#option-tecnica').val());
	var mensaje 		= parseInt($('#option-mensaje').val());

	console.log("originalidad "+originalidad+" - composicion: "+composicion);
	console.log("tecnica "+tecnica+" - mensaje: "+mensaje);

	var promedio = (originalidad + composicion + tecnica + mensaje)/4;
	
	if (promedio == 1){
		$("#promedio").text("-");
	}else{
		$("#promedio").text(promedio);
	}
}	

$(document).ready(function(){
	$("#option-originalidad").change(promedio);
	$("#option-composicion").change(promedio);
	$("#option-tecnica").change(promedio);
	$("#option-mensaje").change(promedio);

});

promedio()

</script>

{% endblock %}


{% block modal %}


<!-- Modal -->
<div class="modal fade" id="originalidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Criterio: originalidad</h4>
      </div>
      <div class="modal-body">
        La fotogragia tiene que ser novedosa (visión personal).
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="composicion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Criterio: Composición</h4>
      </div>
      <div class="modal-body">
        Disposición de los objetos dentro del encuadre (perspectiva, horizonte, equilibrio entre los elementos, impacto visual, luz, contraste, color, etc.).
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="tecnica" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Criterio: Técnica</h4>
      </div>
      <div class="modal-body">
        Calidad de la imagen, enfoque, nitidez, imágenes con exceso de retoques (las bases solo permiten retoques mínimos de brillo,  tono o contraste)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Criterio: Mensaje</h4>
      </div>
      <div class="modal-body">
        La imagen debe reconocer los espacios y las personas que conforma la FCFM.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

			
{% endblock %}
