{% extends "base.html" %}

{% block css%}

{% endblock %}


{% block container %}
<div class="container">

	<div class="col-md-12">
		
		<table  class="table table-condensed">
			<thead>
		  		<tr>
		  			<th>Participante</th>
		  			<th>Fotos en competencia</th>
		  			<th>Fotos ya evaluadas</th>

		            <th class="text-right">Opcion</th>
		          </tr>
		    </thead>

		    <tbody>
		    	{% for participante in participantes %}

		    	<tr>
					<td>
					{{participante.rut}}</td>
					<td>

						{% if participante.n_fotos == "1" %}							
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						{% elif participante.n_fotos == "2" %}
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						{% elif participante.n_fotos == "3" %}
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						{% endif %}
					</td>
					<td>

						{% if participante.n_fotos == "1" %}							
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						{% elif participante.n_fotos == "2" %}
							<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						{% elif participante.n_fotos == "3" %}
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						{% endif %}
					</td>



					<td class="text-right">
						<a type="button" class="btn btn-success" href="/fotografias/{{participante.participante}}/0">
							<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
							Evaluar

						</a>
					</td>
				</tr>
				{% endfor %}
		    </tbody>
		</table>

		<div class="col-md-12">
			<div class="col-md-2">
				Página {{participantes.number}} de {{participantes.paginator.num_pages}}
			</div>
			<div class="col-md-8 text-center">
				<ul class="pagination">
				{%if participantes.has_previous %}
					<li>
						<a href="{% url 'participantes' participantes.previous_page_number %}">&laquo; Atrás</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'participantes' 1 %}">&laquo; Atrás</a>
					</li>
					{% endif %}
						
					{%if participantes.has_next %}
					<li>
						<a href="{% url 'participantes' participantes.next_page_number %}">
						Siguiente &raquo;</a>
					</li>
				{% endif %}	  
				</ul>
			</div>
			<div class="col-md-2">
			</div>

			
		</div>

		

	</div>	
</div>
{% endblock %}
