{% extends "base.html" %}

{% block css%}
<script type="text/javascript">


function getHasVote(participante){

	var url = '{% url "hasvote" 989 %}';
	url 	= url.replace(989, participante);

	$.ajax({
	  type: "GET",
	  url: url,
	  success:function(data){

	  	for (var i = 0; i < data.length; i++) {

	  		if(data[i]['voto']){
	  			$( ".votos"+participante).append( '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>');
	  		}
	  	}
	  }
	});
}

</script>

{% endblock %}


{% block container %}

<div class="container">

	<div class="col-md-12">
		
		<table  class="table table-condensed">
			<thead>
		  		<tr>
		  			<th>Participante</th>
		  			<th>Fotos en competencia</th>
		  			<th>Fotos evaluadas</th>

		            <th class="text-right">Evaluar</th>
		          </tr>
		    </thead>

		    <tbody>
		    	{% for participante in participantes %}

		    	<tr>
					<td>
					{{participante.rut}}</td>
					<td>

						{% if participante.n_fotos == "1" %}							
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						{% elif participante.n_fotos == "2" %}
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						{% elif participante.n_fotos == "3" %}
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						{% endif %}
					</td>
					<td>

						<script type="text/javascript">
							getHasVote({{participante.participante}});
						</script>
						<div class="votos{{participante.participante}}">
						</div>

					</td>



					<td class="text-right">
						<a type="button" class="btn btn-danger btn-sm" href="/fotografias/{{participante.participante}}/0">
							Evaluar

						</a>
					</td>
				</tr>
				{% endfor %}
		    </tbody>
		</table>

		<div class="col-md-4">
			<ul class="pager">
			{%if participantes.has_previous %}
				<li class="previous">
					<a href="{% url 'participantes' participantes.previous_page_number %}">&laquo; Atrás</a>
				</li>
			{% endif %}
			</ul>
		</div>

		<div class="col-md-4 text-center">
			Página {{participantes.number}} de {{participantes.paginator.num_pages}}
		</div>

		<div class="col-md-4">
			<ul class="pager">
			{%if participantes.has_next %}
				<li class="next">
					<a href="{% url 'participantes' participantes.next_page_number %}">
					Siguiente &raquo;</a>
				</li>
			{% endif %}	  
			</ul>
		</div>

		
	</div>	
</div>


{% endblock %}
