{% extends "base.html" %}

{% block css%}

{% endblock %}


{% block container %}

<div class="container">

	<div class="col-md-12">
		
		<table  class="table table-condensed">
			<thead>
		  		<tr>
		  			<th>#</th>
		  			<th>Fotografía</th>
		  			
		  			<th class="text-center">Votantes</th>

		            <th class="text-center">J1</th>
		            <th class="text-center">J2</th>
		            <th class="text-center">J3</th>
		            <th class="text-center">J4</th>
		            <th class="text-center">J5</th>
		            <th class="text-center">J6</th>
		            <th class="text-center">J7</th>

		            <th class="text-center">Promedio</th>

		            <th class="text-right">Ver</th>
		        </tr>
		    </thead>
		    <tbody>
		    	{% for element in data %}
		    	<tr>
		    		<td>{{forloop.counter}}</td>
					<td>{{element.fotografia}}</td>
					<td class="text-center">{{element.votantes}}</td>
					{% for e in element.votacion %}
						<td class="text-center">{{e.voto}}</td>
					{% endfor %}
					<td class="text-center danger">
						<strong>{{element.promedio | floatformat:2}}</strong>
					</td>
					<td class="text-right">
						<a class="btn btn-danger" href="{% url 'fotografias' element.participante element.id %}">Ver</a>
					</td>
				</tr>
				{% endfor %}
		    </tbody>
		</table>
		
	</div>	
</div>


{% endblock %}
